img {
    height: 50px;
    margin-left: 20px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.nav-links {
    display: flex;
    gap: 50px;
}

.nav-links a{
    text-decoration: none;
    color: white;
    background: none;
    border: none;
    cursor: pointer;
    font-size: larger;
}

.nav-links a:hover {
    color: wheat;
}

