h1 {
    color: #64FFDA;
    margin-top: 80px;
    font-size: 60px;
}

p {
    color: #e6f1ff;
    margin-right: 200px;
    font-family: 'Inter', Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; 
}

.body {
    margin-left: 400px;
    margin-right: 60px;
}
h2 {
    color: #64FFDA;
    margin-left: 400px;
    gap: 10px;
    margin-top: 40px;
}

.skills {
    border-radius: 10px;
    margin-left: 395px;
    margin-right: 200px;
    justify-content: space-between;;
    height: 100px;
    width: 600px;
    gap: 10px;
}

button {
    margin-right: 5px;
    margin-bottom: 15px;
    margin-left: 5px;
    border-radius: 5px;
    background: none;
    color:azure;
    font-weight: 600;
    border-color: #64FFDA;
    height: 30px;
}

button:hover {
    background-color: #64FFDA;
    color: black;
    transform: scale(1.2);
}