<h1>About Me:</h1>
<p>I'm a passionate computer science student currently pursuing my bachelor's degree at the University of Cincinnati. 
    Since my childhood I was always fascinated by video games and evloving technology and apart from my academic interests I develop an interest towards sports like cricket and table tennis and My ultimate ambition is to become a proficient software developer.
    I am committed to honing my technical abilities and staying updated with the latest advancements in the field.</p>

<p>
    Through internships, personal projects, and collaborative endeavors,
    I aim to gain practical experience and contribute meaningfully to the tech industry. 
    My goal is to create innovative and efficient software solutions, 
    excelling in my career and making significant contributions to the organizations I work with.
</p>