h1 {
    font-size: 50px;
    color: #64FFDA;
    margin-bottom: 20px;
    margin-left: 300px;
}

.contact {
    border-radius: 10px;
    background-color: #0a192f;
    margin-left: 300px;
    width: fit-content;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}

.contact-item.phone p,
.contact-item.email a {
    color: white;
    text-decoration: none;
    transition: color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.contact-item.phone p:hover,
.contact-item.email a:hover {
    color: #64FFDA;
    text-decoration: underline;
    transform: scale(1.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#symbol {
    font-size: 20px;
    margin-right: 10px;
}