<div class="main">
    <p id="line1">Hi, my name is</p>
    <h1>Narein Boddapati.</h1>
    <h1 id="second">CS&#64; University of Cincinnati</h1>
    <div class="paragraph">
        <p>I'm a Sophomore pursuing a Bachelor's degree in Computer Science at the University of Cincinnati's College of Engineering and Applied Sciences. 
            I'm actively seeking intern roles as a Software Development Intern.         
        </p>
    </div>
    <a class="button" href="boddapnn@mail.uc.edu" target="_blank">
        <button>Get in touch</button>
    </a>

</div>